@media (min-width: 768px) {

    /* Flex navigation*/
    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 0 15px;
    }
    
    /* Center the Main Content*/
    main {
        max-width: 1200px;
        margin: 20px auto;
    }

    

    /*Footer Styling*/
    footer {
        padding: 20px;
    }
}